body{
    background-color: #f4f4f4;
}
.result{
    text-align: center;
}

a{
  text-decoration: none;
  color: #dc3226;
}
a:hover{
    text-decoration: none;
    color: #0abfc2;
}
linecustom{
    margin-bottom: 100px;
}